.primary-btn {
  background: #52694A;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;

  font-family: "Italiana", serif;
  letter-spacing: 0.08em;
  font-size: 13px;
}

.primary-btn:hover {
  background: #74876E;
}