.primary-btn {
  background: #52694a;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
  font-family: "Italiana", serif;
  letter-spacing: 0.08em;
  font-size: 13px;
}

.primary-btn:hover {
  background: #74876e;
}
