:root {
  --header-h: 64px;
}

.home-snap {
  height: 100%;
  height: 100svh;
  height: 100dvh;

  overflow-y: auto;

  scroll-snap-type: y proximity;
  scroll-padding-top: var(--header-h);
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.snap {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  min-height: calc(100dvh - var(--header-h));
}

.snap-free {
  scroll-snap-align: none;
  min-height: auto;
}

.home-snap.snap-disabled {
  scroll-snap-type: none !important;
}

.snap-footer {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  min-height: calc(100dvh - var(--header-h));
  min-height: auto;
}

section#behandlinger {
  display: flex;
}

section#behandlinger > * {
  flex: 1;
  min-height: 0;
}

@media (max-width: 1024px) {
  .home-snap {
    scroll-snap-type: none;
  }
}
