@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Palanquin:wght@300;400;500&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  color: #222;
}

h1,
h2,
h3,
h4,
button,
.main-nav a,
.booking-btn,
.hero-btn {
  font-family: "Italiana", serif;
  letter-spacing: 0.08em;
  font-weight: 400;
}

p {
  font-family: "Palanquin", sans-serif;
  line-height: 1.6;
}

/* Om button */
.home-split__btn {
  display: inline-block;
  background: #52694a;
  color: #fff;
  text-decoration: none;
  padding: 10px 22px;
  font-family: "Italiana", serif;
  letter-spacing: 0.08em;
  font-size: 13px;
}

/* Booking button */
.booking-btn {
  background: #52694a;
  color: #ffffff;
  padding: 10px 18px;
  font-size: 13px;
  text-decoration: none;
}

/* CTA button */
.hero-btn {
  display: inline-block;
  margin-top: 22px;
  background: #52694a;
  color: #ffffff;
  padding: 12px 20px;
  font-size: 13px;
  text-decoration: none;
}

.hero-btn:hover,
.booking-btn:hover,
.home-split__btn:hover {
  background: #74876e;
  cursor: pointer;
}
